@font-face {
  font-family: "Mulish-Regular";
  font-weight: 400;
  font-style: normal;
  src: url(../fonts/Mulish-Regular.woff2), url(../fonts/Mulish-Regular.woff) format("woff");
}
@font-face {
  font-family: "NunitoSans-Regular";
  font-weight: 400;
  font-style: normal;
  src: url(../fonts/NunitoSans-Regular.woff2), url(../fonts/NunitoSans-Regular.woff) format("woff");
}
@font-face {
  font-family: "OpenSans-Bold";
  font-weight: 600;
  font-style: normal;
  src: url(../fonts/OpenSans-Bold.woff2), url(../fonts/OpenSans-Bold.woff) format("woff");
}
@font-face {
  font-family: "OpenSans-Medium";
  font-weight: 500;
  font-style: normal;
  src: url(../fonts/OpenSans-Medium.woff2), url(../fonts/OpenSans-Medium.woff) format("woff");
}
@font-face {
  font-family: "OpenSans-Regular";
  font-weight: 400;
  font-style: normal;
  src: url(../fonts/OpenSans-Regular.woff2), url(../fonts/OpenSans-Regular.woff) format("woff");
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Arial";
  margin: 0;
  padding: 0;
  background-color: #393939;
}

img {
  max-width: 100%;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  width: 90%;
}

.btn-blue {
  background-color: #474DDE;
  border: none;
  color: #fff;
  border-radius: 55px;
}

@-webkit-keyframes showBurger {
  100% {
    left: 0px;
  }
}
@keyframes showBurger {
  100% {
    left: 0px;
  }
}
@-webkit-keyframes showImg {
  100% {
    display: none;
  }
}
@keyframes showImg {
  100% {
    display: none;
  }
}
.menu {
  display: none;
}
@media screen and (max-width: 1024px) {
  .menu {
    position: fixed;
    overflow-y: auto;
    z-index: 20;
    display: none;
    flex-flow: column;
    height: 100%;
    background-color: #393939;
    width: 30%;
    text-align: center;
    left: -100%;
    -webkit-animation: showBurger 2.5s ease;
    animation: showBurger 0.7s ease;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
  }
}
@media screen and (max-width: 1024px) and (max-width: 414px) {
  .menu {
    width: 70%;
  }
}
.menu__link {
  color: #fff;
  font-size: 20px;
  font-family: "NunitoSans-Regular";
  margin-top: 40px;
}
@media screen and (max-width: 414px) {
  .menu__link {
    font-size: 16px;
  }
}
.menu .address__company {
  margin-top: 20px;
  font-family: "NunitoSans-Regular";
}
@media screen and (max-width: 768px) {
  .menu .address__company {
    font-size: 18px;
  }
}
@media screen and (max-width: 320px) {
  .menu .address__company {
    font-size: 16px;
  }
}

.display {
  display: none;
  transition: 0.8s;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.5);
}

.header {
  background-color: #393939;
}
.header__wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 25px;
  align-items: center;
  font-family: "NunitoSans-Regular";
}
@media screen and (max-width: 414px) {
  .header__wrapper {
    display: flex;
    justify-content: center;
  }
}
.header__logo {
  color: #fff;
  font-size: 28px;
}
@media screen and (max-width: 414px) {
  .header__logo {
    font-size: 24px;
    text-align: center;
  }
}
@media screen and (max-width: 1024px) {
  .header__links {
    display: none;
  }
}
.header__link {
  color: #fff;
  font-size: 20px;
  margin-left: 20px;
}
.header__phone {
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 1024px) {
  .header__phone {
    display: none;
  }
}
.header__phone-link {
  color: #fff;
  font-size: 20px;
}
.header .burger {
  display: none;
}
@media screen and (max-width: 1024px) {
  .header .burger {
    display: flex;
    width: 40px;
    height: 40px;
    cursor: pointer;
    position: relative;
    z-index: 12;
    position: fixed;
    margin-left: auto;
    right: 80px;
    border: 1px solid #CCD4FF;
    border-radius: 5px;
  }
}
@media screen and (max-width: 1024px) and (max-width: 414px) {
  .header .burger {
    right: 10px;
  }
}
@media screen and (max-width: 1024px) {
  .header .burger:hover {
    -webkit-animation: swinging_360 4s ease;
    animation: swinging_360 1.2s ease;
  }
}
.header .burger__line {
  display: block;
  width: 70%;
  height: 2px;
  position: absolute;
  background-color: #CCD4FF;
  left: 0;
  transition: 0.8s;
  color: #CCD4FF;
}
.header .burger__line__first {
  top: 13px;
  left: 5px;
}
.header .burger__line__second {
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
}
.header .burger__line__third {
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
}
.header .burger__line__fourth {
  left: 5px;
  bottom: 13px;
}
.header .burger:hover {
  transition: all 0.5s;
}
.header .burger__active {
  transition: 0.5s;
}
.header .burger__active .burger__line__first {
  opacity: 0;
  left: 50px;
  transition: 0.9s;
}
.header .burger__active .burger__line__fourth {
  opacity: 0;
  left: 50px;
  transition: 0.9s;
}
.header .burger__active .burger__line__second {
  transform: translateY(-50%) rotate(45deg);
}
.header .burger__active .burger__line__third {
  transform: translateY(-50%) rotate(-45deg);
}

.main {
  background-image: url(../images/main/4.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  height: 800px;
}
@media screen and (max-width: 1024px) {
  .main {
    height: 600px;
    background-image: url(../images/main/3.jpg);
  }
}
@media screen and (max-width: 768px) {
  .main {
    height: 400px;
  }
}
@media screen and (max-width: 414px) {
  .main {
    height: 100%;
    width: 100%;
  }
}
.main__wrapper {
  padding-top: 10%;
}
@media screen and (max-width: 320px) {
  .main__wrapper {
    padding-top: 0px;
  }
}
.main__content-title {
  font-family: "OpenSans-Bold";
  font-size: 60px;
  height: 40px;
  margin-top: 0px;
  max-width: 700px;
  color: #393939;
}
@media screen and (max-width: 1024px) {
  .main__content-title {
    max-width: 80%;
    text-align: center;
    margin: 0 auto;
    color: #fff;
  }
}
@media screen and (max-width: 768px) {
  .main__content-title {
    font-size: 36px;
  }
}
@media screen and (max-width: 414px) {
  .main__content-title {
    max-width: 100%;
    font-size: 26px;
  }
}
@media screen and (max-width: 320px) {
  .main__content-title {
    padding-top: 15px;
  }
}
.main__content-subtitle {
  font-family: "OpenSans-Medium";
  color: #393939;
  font-size: 36px;
  width: 350px;
  margin-top: 160px;
}
@media screen and (max-width: 1024px) {
  .main__content-subtitle {
    text-align: center;
    margin: 160px auto 40px;
    color: #fff;
  }
}
@media screen and (max-width: 768px) {
  .main__content-subtitle {
    font-size: 24px;
    margin: 60px auto 40px;
  }
}
@media screen and (max-width: 414px) {
  .main__content-subtitle {
    font-size: 18px;
    width: 80%;
  }
}
@media screen and (max-width: 1024px) {
  .main__content-btn {
    display: flex;
    justify-content: center;
  }
}
@media screen and (max-width: 414px) {
  .main__content-btn {
    padding-bottom: 20px;
  }
}
.main__content-btn .btn {
  font-family: "OpenSans-Regular";
  color: #fff;
  background-color: #474DDE;
  font-size: 22px;
  border: none;
  padding: 5px 25px;
  border-radius: 55px;
}
@media screen and (max-width: 320px) {
  .main__content-btn .btn {
    font-size: 18px;
  }
}
.main__content-btn .btn:hover {
  cursor: pointer;
  transition: 1s;
  color: #474DDE;
  background-color: #CCD4FF;
}

.calculations__wrapper {
  margin-top: 50px;
  margin-bottom: 40px;
  margin-bottom: 40px;
}
.calculations__wrapper .line__buttom {
  margin-top: 80px;
}
@media screen and (max-width: 414px) {
  .calculations__wrapper .line__buttom {
    margin-top: 40px;
  }
}
.calculations__wrapper .help__text {
  font-size: 34px;
}
@media screen and (max-width: 768px) {
  .calculations__wrapper .help__text {
    font-size: 26px;
  }
}
@media screen and (max-width: 320px) {
  .calculations__wrapper .help__text {
    font-size: 20px;
  }
}
.calculations__content {
  display: flex;
  justify-content: center;
  align-items: center;
}
.calculations__text {
  color: #fff;
  font-family: "OpenSans-Bold";
  font-size: 38px;
  width: 500px;
  text-align: center;
  margin-top: -10px;
}
@media screen and (max-width: 1024px) {
  .calculations__text {
    width: 100%;
    margin-top: 40px;
  }
}
@media screen and (max-width: 768px) {
  .calculations__text {
    font-size: 26px;
  }
}
@media screen and (max-width: 414px) {
  .calculations__text {
    margin-top: 30px;
  }
}
@media screen and (max-width: 320px) {
  .calculations__text {
    font-size: 20px;
  }
}
.calculations__btn {
  display: flex;
  justify-content: center;
  margin: -25px auto;
  text-align: center;
  font-size: 20px;
  padding: 5px 30px;
}
@media screen and (max-width: 414px) {
  .calculations__btn {
    margin: -5px auto;
  }
}
@media screen and (max-width: 320px) {
  .calculations__btn {
    font-size: 18px;
  }
}
.calculations__btn:hover {
  cursor: pointer;
  transition: 1s;
  color: #474DDE;
  background-color: #CCD4FF;
}
@media screen and (max-width: 1024px) {
  .calculations__img {
    display: none;
  }
}
.calculations__line {
  display: none;
}
@media screen and (max-width: 1024px) {
  .calculations__line {
    display: block;
    height: 2px;
    width: 100%;
    background-color: #474DDE;
  }
}

.advantagesMob {
  display: block;
  background-color: #fff;
}
.advantagesMob__title {
  font-size: 32px;
  text-align: center;
  font-family: "Mulish-Regular";
  padding-top: 20px;
}
.advantagesMob__content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  padding-bottom: 20px;
}
.advantagesMob__benefit {
  padding-top: 20px;
  padding-bottom: 40px;
  border: 3px inset #474DDE;
  margin-bottom: 20px;
  margin: 20px auto;
  max-width: 70%;
  flex-basis: 45%;
}
@media screen and (max-width: 768px) {
  .advantagesMob__benefit {
    flex-basis: 100%;
  }
}
@media screen and (max-width: 414px) {
  .advantagesMob__benefit {
    max-width: 100%;
  }
}
.advantagesMob__benefit-text {
  font-family: "Mulish-Regular";
  font-size: 20px;
  max-width: 250px;
  margin: 0 auto;
}
@media screen and (max-width: 414px) {
  .advantagesMob__benefit-text {
    font-size: 18px;
  }
}

.type {
  background-color: #393939;
}
.type__title {
  font-size: 32px;
  text-align: center;
  font-family: "Mulish-Regular";
  padding-top: 35px;
  color: #fff;
}
.type__wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 50px;
}
@media screen and (max-width: 768px) {
  .type__wrapper {
    margin-top: 30px;
  }
}
.type__first {
  margin-right: 5px;
}
@media screen and (max-width: 1024px) {
  .type__first {
    margin-right: 0px;
  }
}
.type__second {
  margin-left: 5px;
}
@media screen and (max-width: 1024px) {
  .type__second {
    margin-left: 0px;
  }
}
.type__cart {
  margin-top: 5px;
}
.type__btn {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  font-family: "Mulish-Regular";
  border: none;
  color: #000;
  font-size: 20px;
  width: 525px;
  padding: 20px 40px;
  transition: 0.8s;
}
@media screen and (max-width: 414px) {
  .type__btn {
    width: 250px;
  }
}
.type__btn:hover {
  cursor: pointer;
  transition: 0.8s;
}
.type .dark_button {
  background-color: #474DDE;
  color: #CCD4FF;
}
.type .dark_button:hover {
  cursor: pointer;
  background-color: #CCD4FF;
  transition: 1s;
  color: #474DDE;
}
.type .light_button {
  background-color: #CCD4FF;
  color: #474DDE;
}
.type .light_button:hover {
  cursor: pointer;
  background-color: #474DDE;
  transition: 1s;
  color: #CCD4FF;
}

.swiper {
  width: 100%;
  height: 100%;
  background-color: #fff;
  margin-top: 40px;
}

.swiper__title {
  font-size: 32px;
  text-align: center;
  font-family: "Mulish-Regular";
  padding-top: 20px;
  padding-bottom: 35px;
}
@media screen and (max-width: 414px) {
  .swiper__title {
    padding-bottom: 10px;
    padding-top: 10px;
  }
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  padding-bottom: 80px;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 414px) {
  .swiper-slide {
    padding-bottom: 40px;
  }
}

.swiper-slide img {
  display: block;
  width: 327px;
  height: 455px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 24px;
}
@media screen and (max-width: 414px) {
  .swiper-slide img {
    width: 275px;
  }
}
@media screen and (max-width: 320px) {
  .swiper-slide img {
    width: 225px;
  }
}

.assortment {
  background-color: #fff;
  margin-top: -35px;
}
.assortment__title {
  font-size: 32px;
  text-align: center;
  font-family: "Mulish-Regular";
  padding-top: 20px;
}
.assortment__wrapper {
  padding-top: 10px;
  padding-bottom: 30px;
}
.assortment__cart {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
@media screen and (max-width: 1024px) {
  .assortment__cart {
    border-top: 1px solid #474DDE;
  }
}
.assortment__content-title {
  font-size: 28px;
}
@media screen and (max-width: 1024px) {
  .assortment__content-title {
    text-align: center;
  }
}
.assortment__texts {
  max-width: 550px;
}
.assortment__text {
  font-size: 22px;
  font-family: "OpenSans-Regular";
}
@media screen and (max-width: 1024px) {
  .assortment__text {
    text-align: center;
  }
}
@media screen and (max-width: 640px) {
  .assortment__text {
    font-size: 18px;
  }
}
@media screen and (max-width: 414px) {
  .assortment__text {
    font-size: 16px;
  }
}
@media screen and (max-width: 320px) {
  .assortment__text {
    font-size: 14px;
  }
}

.form {
  background-image: url(../images/form/1.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  height: 689px;
}
@media screen and (max-width: 1024px) {
  .form {
    height: 100%;
  }
}
@media screen and (max-width: 768px) {
  .form {
    background-image: none;
    background-color: #CCD4FF;
  }
}
.form__title {
  font-size: 32px;
  text-align: center;
  font-family: "Mulish-Regular";
  padding-top: 20px;
}
@media screen and (max-width: 1024px) {
  .form__title {
    padding-top: 0px;
  }
}
@media screen and (max-width: 768px) {
  .form__title {
    color: #474DDE;
  }
}
.form__wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  padding-top: 60px;
}
@media screen and (max-width: 1024px) {
  .form__wrapper {
    padding-top: 10px;
  }
}
.form__wrapper input {
  font-size: 28px;
  border: 1px solid #393939;
  background-color: Transparent;
  width: 60%;
  margin: 20px auto;
  padding: 10px 10px;
}
.form__wrapper input:focus {
  outline: none;
}
@media screen and (max-width: 1024px) {
  .form__wrapper input {
    margin: 5px auto;
  }
}
@media screen and (max-width: 768px) {
  .form__wrapper input {
    color: #474DDE;
    border: 1px solid #474DDE;
  }
}
@media screen and (max-width: 640px) {
  .form__wrapper input {
    font-size: 22px;
  }
}
@media screen and (max-width: 414px) {
  .form__wrapper input {
    width: 90%;
  }
}
.form__button {
  margin-top: 80px;
}
@media screen and (max-width: 1024px) {
  .form__button {
    padding-bottom: 20px;
    margin-top: 40px;
  }
}
.form__btn {
  display: flex;
  margin: 0px auto;
  font-size: 20px;
  padding: 10px 30px;
  transition: 0.8s;
  color: #fff;
  background-color: #474DDE;
  border-radius: 55px;
  border: none;
}
@media screen and (max-width: 320px) {
  .form__btn {
    font-size: 18px;
  }
}
.form__btn:hover {
  cursor: pointer;
  background-color: #CCD4FF;
  transition: 1s;
  color: #474DDE;
}
@media screen and (max-width: 768px) {
  .form__btn:hover {
    border: 1px solid #474DDE;
  }
}

.footer__up {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 640px) {
  .footer__up {
    display: block;
    text-align: center;
  }
}
.footer__up-links {
  display: flex;
}
@media screen and (max-width: 640px) {
  .footer__up-links {
    justify-content: center;
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 320px) {
  .footer__up-links {
    flex-wrap: wrap;
    text-align: center;
  }
}
.footer__up-links .first {
  color: #fff;
  font-size: 24px;
  font-family: "NunitoSans-Regular";
  margin-right: 40px;
}
@media screen and (max-width: 414px) {
  .footer__up-links .first {
    margin-right: 20px;
    font-size: 18px;
  }
}
.footer__up-links .second {
  color: #fff;
  font-size: 24px;
  font-family: "NunitoSans-Regular";
}
@media screen and (max-width: 414px) {
  .footer__up-links .second {
    font-size: 18px;
  }
}
.footer__up-connection {
  display: flex;
  flex-direction: column;
}
.footer__up-phone {
  font-family: "NunitoSans-Regular";
  color: #fff;
  font-size: 24px;
  margin-top: 5px;
}
@media screen and (max-width: 414px) {
  .footer__up-phone {
    font-size: 20px;
  }
}
.footer__up-address {
  font-family: "NunitoSans-Regular";
  color: #fff;
  font-size: 24px;
  margin-top: 5px;
}
@media screen and (max-width: 414px) {
  .footer__up-address {
    font-size: 20px;
  }
}
.footer__down {
  display: flex;
  margin-top: -20px;
}
@media screen and (max-width: 640px) {
  .footer__down {
    justify-content: center;
    margin-top: 10px;
  }
}
@media screen and (max-width: 320px) {
  .footer__down {
    flex-wrap: wrap;
    text-align: center;
  }
}
.footer__down-three {
  color: #fff;
  font-size: 24px;
  font-family: "NunitoSans-Regular";
  margin-right: 60px;
}
@media screen and (max-width: 414px) {
  .footer__down-three {
    font-size: 18px;
  }
}
.footer__down-four {
  color: #fff;
  font-size: 24px;
  font-family: "NunitoSans-Regular";
}
@media screen and (max-width: 414px) {
  .footer__down-four {
    font-size: 18px;
  }
}/*# sourceMappingURL=style.css.map */