@font-face 
  font-family: 'Montserrat-Light'
  font-weight: 300
  font-style: normal
  src: url(../fonts/Montserrat-Light.woff2), url(../fonts/Montserrat-Light.woff) format('woff')

@font-face 
  font-family: 'Comfortaa-Light'
  font-weight: 300
  font-style: normal
  src: url(../fonts/Comfortaa-Light.woff2), url(../fonts/Comfortaa-Light.woff) format('woff')

@font-face 
  font-family: 'Comfortaa-Medium'
  font-weight: 500
  font-style: normal
  src: url(../fonts/Comfortaa-Medium.woff2), url(../fonts/Comfortaa-Medium.woff) format('woff')

@font-face 
  font-family: 'Comfortaa-Bold'
  font-weight: 700
  font-style: normal
  src: url(../fonts/Comfortaa-Bold.woff2), url(../fonts/Comfortaa-Bold.woff) format('woff')