@charset "UTF-8";
@font-face {
  font-family: "Montserrat-Light";
  font-weight: 300;
  font-style: normal;
  src: url(../fonts/Montserrat-Light.woff2), url(../fonts/Montserrat-Light.woff) format("woff");
}
@font-face {
  font-family: "Comfortaa-Light";
  font-weight: 300;
  font-style: normal;
  src: url(../fonts/Comfortaa-Light.woff2), url(../fonts/Comfortaa-Light.woff) format("woff");
}
@font-face {
  font-family: "Comfortaa-Medium";
  font-weight: 500;
  font-style: normal;
  src: url(../fonts/Comfortaa-Medium.woff2), url(../fonts/Comfortaa-Medium.woff) format("woff");
}
@font-face {
  font-family: "Comfortaa-Bold";
  font-weight: 700;
  font-style: normal;
  src: url(../fonts/Comfortaa-Bold.woff2), url(../fonts/Comfortaa-Bold.woff) format("woff");
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Arial";
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  width: 90%;
}

@-webkit-keyframes swinging {
  0%, 50%, 100% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
  }
  10%, 30% {
    transform: rotate(-10deg);
    -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    -o-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
  }
  20%, 40% {
    transform: rotate(10deg);
    -webkit-transform: rotate(10deg);
    -moz-transform: rotate(10deg);
    -o-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
  }
}
@keyframes swinging {
  0%, 50%, 100% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
  }
  10%, 30% {
    transform: rotate(-10deg);
    -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    -o-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
  }
  20%, 40% {
    transform: rotate(10deg);
    -webkit-transform: rotate(10deg);
    -moz-transform: rotate(10deg);
    -o-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
  }
}
@-webkit-keyframes swinging_360 {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
  }
}
@keyframes swinging_360 {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
  }
}
.title__block .text {
  text-align: center;
  font-size: 28px;
  font-family: "Comfortaa-Bold";
  color: #314683;
}
.title__block .subtitle {
  text-align: center;
  margin-top: 20px;
  color: #314683;
  font-size: 22px;
  font-family: "Comfortaa-Medium";
}

.main {
  position: relative;
}
@media screen and (max-width: 768px) {
  .main {
    background-color: #314683;
  }
}
.main__background {
  position: absolute;
  z-index: -3;
  left: 24%;
  right: -5.85%;
  top: 0px;
  bottom: 50%;
  max-width: 76%;
}
@media screen and (max-width: 1440px) {
  .main__background {
    max-width: 100%;
    left: 20%;
    right: 0;
    top: 0px;
    bottom: 30%;
  }
}
@media screen and (max-width: 1024px) {
  .main__background {
    left: 20%;
  }
}
@media screen and (max-width: 768px) {
  .main__background {
    display: none;
  }
}
.main__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  .main__wrapper {
    flex-wrap: wrap-reverse;
    text-align: left;
  }
}
.main__title {
  font-family: "Comfortaa-Bold";
  font-size: 72px;
  max-width: 300px;
  color: #314683;
}
@media screen and (max-width: 1024px) {
  .main__title {
    font-size: 66px;
  }
}
@media screen and (max-width: 768px) {
  .main__title {
    max-width: 90%;
    font-size: 42px;
    color: #FCC02A;
    margin-top: -70px;
  }
}
@media screen and (max-width: 640px) {
  .main__title {
    margin-top: 0px;
  }
}
@media screen and (max-width: 414px) {
  .main__title {
    max-width: 100%;
    text-align: center;
    margin-top: 15px;
  }
}
.main__text {
  font-family: "Montserrat-Light";
  font-size: 20px;
  color: #050305;
  max-width: 500px;
}
@media screen and (max-width: 768px) {
  .main__text {
    color: #fff;
    font-size: 20px;
    max-width: 90%;
    margin-top: -10px;
  }
}
@media screen and (max-width: 414px) {
  .main__text {
    max-width: 100%;
    text-align: center;
    font-size: 18px;
  }
}
.main__btn {
  background-color: #314683;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  font-family: "Comfortaa-Medium";
  color: #fff;
  font-size: 18px;
}
@media screen and (max-width: 768px) {
  .main__btn {
    display: flex;
    margin: 20px auto;
    font-size: 24px;
  }
}
.main__btn:hover {
  cursor: pointer;
  background-color: #FCC02A;
  transition: 0.8s;
}
.main__btn:focus {
  transition: 0.8s;
  -webkit-animation: swinging 4s ease;
  animation: swinging 1.2s ease;
}
.main .header__logo {
  z-index: 3;
}
.main .header__wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding: 30px 0px;
}
@media screen and (max-width: 768px) {
  .main .header__wrapper {
    display: none;
  }
}
@media screen and (max-width: 1024px) {
  .main .header__links {
    margin-left: 100px;
  }
}
.main .header__link {
  margin-left: 50px;
  font-family: "Comfortaa-Bold";
  font-size: 18px;
  color: #fff;
}
.main .header__link:hover {
  background-color: #FCC02A;
  transition: 0.8s;
  padding: 5px 10px;
  border-radius: 20px;
  margin-left: 30px;
}
@media screen and (max-width: 1024px) {
  .main .header__link:hover {
    margin-left: 5px;
  }
}
@media screen and (max-width: 1024px) {
  .main .header__link {
    font-size: 16px;
    margin-left: 15px;
  }
}
@media screen and (max-width: 768px) {
  .main .header__link {
    color: #000;
  }
}
.main .header__phone {
  font-size: 18px;
  font-family: "Comfortaa-Bold";
  color: #fff;
}
@media screen and (max-width: 768px) {
  .main .header__phone {
    color: #000;
  }
}
.main .navigation {
  display: none;
}
@media screen and (max-width: 768px) {
  .main .navigation {
    display: flex;
    align-items: center;
    padding-top: 40px;
  }
}
.main .navigation__phone {
  font-family: "Comfortaa-Bold";
  color: #fff;
  margin-left: 50%;
}
@media screen and (max-width: 414px) {
  .main .navigation__phone {
    display: none;
  }
}
.main .navigation .burger {
  display: none;
}
@media screen and (max-width: 768px) {
  .main .navigation .burger {
    display: flex;
    width: 40px;
    height: 40px;
    cursor: pointer;
    position: relative;
    z-index: 12;
    position: fixed;
    margin-left: auto;
    right: 10px;
    border: 1px solid #FCC02A;
    border-radius: 5px;
  }
  .main .navigation .burger:hover {
    -webkit-animation: swinging_360 4s ease;
    animation: swinging_360 1.2s ease;
  }
}
.main .navigation .burger__line {
  display: block;
  width: 70%;
  height: 2px;
  position: absolute;
  background-color: #FCC02A;
  left: 0;
  transition: 0.8s;
  color: #fff;
}
.main .navigation .burger__line__first {
  top: 13px;
  left: 5px;
}
.main .navigation .burger__line__second {
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
}
.main .navigation .burger__line__third {
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
}
.main .navigation .burger__line__fourth {
  left: 5px;
  bottom: 13px;
}
.main .navigation .burger:hover {
  transition: all 0.5s;
}
.main .navigation .burger__active .burger__line__first {
  opacity: 0;
  top: 100px;
  transition: 0.9s;
}
.main .navigation .burger__active .burger__line__fourth {
  opacity: 0;
  bottom: 100px;
  transition: 0.9s;
}
.main .navigation .burger__active .burger__line__second {
  transform: translateY(-50%) rotate(45deg);
}
.main .navigation .burger__active .burger__line__third {
  transform: translateY(-50%) rotate(-45deg);
}

.modal {
  display: none;
  width: 600px;
  background-image: url("../images/modal/pattern (1) 2.png");
  border-radius: 20px;
  position: fixed;
  top: 250px;
  left: 600px;
  z-index: 10;
}
@media screen and (max-width: 1024px) {
  .modal {
    width: 60%;
    left: 20%;
  }
}
@media screen and (max-width: 414px) {
  .modal {
    width: 90%;
    left: 5%;
    top: 150px;
  }
}
.modal__wrapper {
  position: relative;
}
.modal__cross {
  position: absolute;
  top: -10px;
  right: 5px;
  width: 40px;
  height: 40px;
}
.modal__cross-first {
  width: 30px;
  height: 2px;
  background: #314683;
  transform: rotate(45deg);
  margin-top: 20px;
}
.modal__cross-second {
  width: 30px;
  height: 2px;
  background: #314683;
  transform: rotate(-45deg);
  margin-top: -2px;
}
.modal__title {
  font-size: 24px;
  color: #314683;
  text-align: center;
  font-family: "Comfortaa-Medium";
  font-weight: 800;
  padding-top: 35px;
}
@media screen and (max-width: 640px) {
  .modal__title {
    font-size: 18px;
  }
}
@media screen and (max-width: 320px) {
  .modal__title {
    font-size: 16px;
  }
}
.modal__window-inputs {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  width: 60%;
}
@media screen and (max-width: 640px) {
  .modal__window-inputs {
    width: 90%;
  }
}
.modal__window-inputs input {
  border: none;
  border-radius: 6px;
  font-size: 22px;
  margin-top: 30px;
  padding: 10px 20px;
}
@media screen and (max-width: 640px) {
  .modal__window-inputs input {
    font-size: 18px;
  }
}
.modal__window-inputs input:focus {
  outline: none;
}
.modal__window-select {
  width: 100%;
  display: flex;
  margin: 5px auto;
  background: #fff;
  border: none;
  color: #4d4c4c;
  font-size: 18px;
  text-align: center;
  border-radius: 6px;
}
.modal__window-select:focus {
  outline: none;
}
.modal__window-button {
  display: flex;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  border: none;
  color: #fff;
  background-color: #314683;
  border-radius: 20px;
  font-size: 20px;
  padding: 5px 20px;
}
.modal__window-button:hover {
  cursor: pointer;
  background-color: #FCC02A;
  transition: 0.8s;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #000;
  opacity: 0.7;
  width: 100%;
  height: 150%;
  z-index: 5;
}

.burger-menu {
  display: none;
  position: relative;
  z-index: 10;
}
.burger-menu__list {
  display: flex;
  flex-direction: column;
  padding: 150px 100%;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #314683;
  opacity: 0.9;
  top: 0px;
  right: -100%;
  transition: all 0.6s;
}
@media screen and (max-width: 320px) {
  .burger-menu__list {
    padding: 100px 100%;
  }
}
.burger-menu__link {
  width: 100%;
  text-align: center;
  font-size: 20px;
  color: #FCC02A;
  border-top: 1px solid #FCC02A;
  border-bottom: 1px solid #FCC02A;
  font-family: "Comfortaa-Bold";
  margin-top: 10px;
  padding: 10px 0;
}
@media screen and (max-width: 320px) {
  .burger-menu__link {
    font-size: 17px;
  }
}
.burger-menu__link:hover {
  cursor: pointer;
  background-color: #FCC02A;
  transition: 0.5s;
  color: #000;
}

.advantages {
  margin-top: 70px;
}
@media screen and (max-width: 414px) {
  .advantages {
    display: none;
  }
}
.advantages__wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@media screen and (max-width: 865px) {
  .advantages__wrapper {
    flex-wrap: wrap;
  }
}
.advantages__cart {
  text-align: center;
}
.advantages__text {
  font-family: "Montserrat-Light";
  font-size: 20px;
  text-align: center;
  max-width: 261px;
}

.swiper {
  display: none;
}
@media screen and (max-width: 414px) {
  .swiper {
    display: block;
    width: 100%;
    height: 100%;
    margin-top: 20px;
  }
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.swiper-slide__text {
  font-family: "Montserrat-Light";
  padding: 0 20px;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (max-width: 414px) {
  .portfolio {
    display: none;
  }
}
.portfolio__wrapper {
  display: flex;
  justify-content: space-around;
  transition: all 0.8s;
}
@media screen and (max-width: 768px) {
  .portfolio__wrapper {
    flex-wrap: wrap;
  }
}
.portfolio__cart {
  margin-top: 30px;
  position: relative;
}
.portfolio__cart:hover {
  transition: all 0.8s;
  cursor: pointer;
}
.portfolio__cart:hover:after {
  transition: all 0.8s;
  content: "Посмотреть";
  text-decoration: none;
  position: absolute;
  color: #FCC02A;
  top: 0;
  background-color: #314683;
  padding: 10px 25px;
  left: 22%;
  border-radius: 0px 0px 20px 20px;
  font-size: 24px;
  font-family: "Comfortaa-Medium";
}
.portfolio__btn {
  display: flex;
  background-color: #314683;
  color: #fff;
  font-family: "Comfortaa-Medium";
  border: none;
  margin: 0 auto;
  font-size: 22px;
  padding: 10px 20px;
  border-radius: 20px;
  margin-top: 30px;
}
.portfolio__btn:hover {
  cursor: pointer;
  background-color: #FCC02A;
  transition: 0.8s;
}

.portfolio-mobile {
  display: none;
}
@media screen and (max-width: 414px) {
  .portfolio-mobile {
    display: block;
  }
}
.portfolio-mobile__wrapper {
  background-image: url("../images/portfolio/готовый телефон.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 481px;
  position: relative;
}
.portfolio-mobile .swiper {
  position: absolute;
  left: 14.2%;
  top: 13%;
  width: 71%;
  height: 67%;
}
@media screen and (max-width: 320px) {
  .portfolio-mobile .swiper {
    left: 14.5%;
  }
}
.portfolio-mobile .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: Transparent;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}
.portfolio-mobile .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.stages__cart {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 40px;
  position: relative;
}
@media screen and (max-width: 1024px) {
  .stages__cart {
    flex-wrap: wrap;
  }
}
.stages__circle {
  position: absolute;
  top: 400px;
}
@media screen and (max-width: 1024px) {
  .stages__circle {
    display: none;
  }
}
.stages__circle-first {
  margin-left: -120px;
  margin-top: -15px;
}
.stages__circle-second {
  margin-left: -50px;
  margin-top: 20px;
}
.stages__circ {
  position: absolute;
  top: 350px;
}
@media screen and (max-width: 1024px) {
  .stages__circ {
    display: none;
  }
}
.stages__circ-one {
  margin-left: 120px;
}
@media screen and (max-width: 1440px) {
  .stages__circ-one {
    margin-left: 70px;
  }
}
.stages__circ-two {
  margin-left: 80px;
}
@media screen and (max-width: 1440px) {
  .stages__circ-two {
    margin-left: 40px;
  }
}
.stages__circ-three {
  margin-left: -80px;
  margin-top: 80px;
  transform: rotate(90deg);
}
@media screen and (max-width: 1440px) {
  .stages__circ-three {
    margin-top: 60px;
    margin-left: -100px;
  }
}
.stages__reverse {
  flex-direction: row-reverse;
}
.stages__title {
  font-size: 24px;
  font-family: "Comfortaa-Medium";
  color: #314683;
}
@media screen and (max-width: 1024px) {
  .stages__title {
    text-align: center;
  }
}
.stages__subtitle {
  font-size: 20px;
  font-family: "Montserrat-Light";
  max-width: 450px;
}
@media screen and (max-width: 1024px) {
  .stages__subtitle {
    max-width: 100%;
    text-align: center;
  }
}

@media screen and (max-width: 1024px) {
  .calculator {
    display: none;
  }
}
.calculator__wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.calculator__work {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.calculator__work-link {
  display: inline-block;
  margin: 0 5px 0 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: relative;
  margin-top: 30px;
}
.calculator__work-text {
  text-align: left;
  font-family: "Comfortaa-Medium";
  font-size: 24px;
  color: #314683;
  padding: 5px 10px;
}
.calculator__work-text::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background: #314683;
  vertical-align: middle;
  margin-right: 20px;
  transition: 0.4s;
}
.calculator__work-text:hover {
  cursor: pointer;
}
.calculator__work-btn {
  font-family: "Comfortaa-Medium";
  border: none;
  font-size: 24px;
  color: #fff;
  background-color: #314683;
  margin-top: 35px;
  padding: 10px 10px;
  border-radius: 20px;
  margin-left: 10px;
}
.calculator__work-btn:hover {
  cursor: pointer;
  background-color: #FCC02A;
  transition: 0.8s;
}
.calculator__work-btn:focus {
  transition: 0.8s;
  -webkit-animation: swinging 4s ease;
  animation: swinging 1.2s ease;
}
.calculator__work input[type=radio] {
  display: none;
}
.calculator__work input[type=radio]:checked + label:before {
  content: "X";
  font-size: 20px;
  background-color: #FCC02A;
  text-align: center;
  border-radius: 50%;
}
.calculator__estimate-counter {
  display: flex;
  align-items: center;
}
.calculator__estimate-page {
  width: 120px;
  text-align: center;
  background: #FCC02A;
  color: #fff;
  font-size: 24px;
  border-radius: 10px 20px 10px 20px;
  margin-right: 30px;
}
.calculator__estimate-text {
  font-size: 24px;
  color: #314683;
  font-family: "Comfortaa-Medium";
}
.calculator__estimate-check {
  display: flex;
  align-items: center;
  margin-top: 35px;
}
.calculator__estimate-check input[type=checkbox] {
  display: none;
}
.calculator__estimate-check input[type=checkbox]:checked + label::before {
  content: "";
  background-image: url("../images/calculator/correct.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 12px;
  background-color: #FCC02A;
  text-align: center;
  border-radius: 50%;
}
.calculator__estimate .input__text {
  color: #314683;
  font-family: "Comfortaa-Medium";
  font-size: 24px;
  padding-left: 20px;
}
.calculator__estimate .input__text::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background: #314683;
  vertical-align: middle;
  margin-right: 20px;
  transition: 0.4s;
}
.calculator__estimate .input__text:hover {
  cursor: pointer;
}
.calculator__estimate input[type=range] {
  display: flex;
  -webkit-appearance: none;
  background-color: #FCC02A;
  width: 300px;
  height: 5px;
  border-radius: 10px;
  outline: none;
}
.calculator__estimate input[type=range]::-webkit-slider-runnable-thumb {
  -webkit-appearance: none;
  background-color: #314683;
  border: none;
  width: 35px;
  height: 20px;
  background-image: url("../images/calculator/transfer.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 18px;
  color: #fff;
}
.calculator__estimate input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: #314683;
  border: none;
  width: 35px;
  height: 20px;
  background-image: url("../images/calculator/transfer.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 18px;
  color: #fff;
}
.calculator__estimate input[type=range]::-moz-range-thumb {
  -moz-appearance: none;
  background-color: #314683;
  border: none;
  width: 35px;
  height: 20px;
  background-image: url("../images/calculator/transfer.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 18px;
  color: #fff;
}
.calculator__img {
  position: relative;
}
.calculator__img-price {
  position: absolute;
  top: 30px;
  font-size: 32px;
  font-family: "Comfortaa-Medium";
  left: 110px;
}

.computing {
  display: none;
}
@media screen and (max-width: 1024px) {
  .computing {
    display: block;
  }
}
.computing__work {
  text-align: center;
  background: #fff;
}
.computing__services {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 3px solid #314683;
  background-color: #fff;
  font-size: 24px;
  color: #314683;
  font-family: "Comfortaa-Medium";
  width: 50%;
  text-align: left;
  color: rgba(49, 70, 131, 0.5);
  padding: 20px 0px;
}
@media screen and (max-width: 640px) {
  .computing__services {
    width: 80%;
  }
}
@media screen and (max-width: 320px) {
  .computing__services {
    font-size: 18px;
  }
}
.computing__services:focus {
  outline: none;
}
.computing__estimate-counter {
  text-align: center;
}
.computing__estimate-page {
  width: 120px;
  text-align: center;
  background: #FCC02A;
  color: #fff;
  font-size: 24px;
  border-radius: 10px 20px 10px 20px;
  margin-right: 10px;
  margin: 30px auto;
}
.computing__estimate-text {
  font-size: 24px;
  color: #314683;
  font-family: "Comfortaa-Medium";
  margin-top: -20px;
}
.computing__estimate input[type=range] {
  display: flex;
  -webkit-appearance: none;
  background-color: #FCC02A;
  width: 80%;
  height: 5px;
  border-radius: 10px;
  outline: none;
  margin: 20px auto;
}
.computing__estimate input[type=range]::-webkit-slider-runnable-thumb {
  -webkit-appearance: none;
  background-color: #314683;
  border: none;
  width: 35px;
  height: 20px;
  background-image: url("../images/calculator/transfer.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 18px;
  color: #fff;
}
.computing__estimate input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: #314683;
  border: none;
  width: 35px;
  height: 20px;
  background-image: url("../images/calculator/transfer.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 18px;
  color: #fff;
}
.computing__estimate input[type=range]::-moz-range-thumb {
  -moz-appearance: none;
  background-color: #314683;
  border: none;
  width: 35px;
  height: 20px;
  background-image: url("../images/calculator/transfer.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 18px;
  color: #fff;
}
.computing__estimate-check {
  display: flex;
  align-items: center;
  margin-top: 35px;
}
.computing__estimate-check .input__text2 {
  color: #314683;
  font-family: "Comfortaa-Medium";
  font-size: 24px;
  padding-left: 20px;
}
@media screen and (max-width: 414px) {
  .computing__estimate-check .input__text2 {
    font-size: 20px;
  }
}
.computing__estimate-check .input__text2::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background: #314683;
  vertical-align: middle;
  margin-right: 20px;
  transition: 0.4s;
}
.computing__estimate-check .input__text2:hover {
  cursor: pointer;
}
.computing__estimate-check input[type=checkbox] {
  display: none;
}
.computing__estimate-check input[type=checkbox]:checked + label::before {
  content: "";
  background-image: url("../images/calculator/correct.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 18px;
  background-color: #FCC02A;
  text-align: center;
  border-radius: 50%;
}
.computing__counter {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right, #FCC02A 50%, #314683 50%);
  height: 50px;
  margin: 20px;
}
.computing__counter-text {
  color: #314683;
  font-family: "Comfortaa-Medium";
  font-size: 24px;
  width: 50%;
  text-align: right;
  margin-right: 20px;
}
@media screen and (max-width: 320px) {
  .computing__counter-text {
    margin-right: 5px;
  }
}
.computing__counter-price {
  color: #FCC02A;
  font-family: "Comfortaa-Medium";
  font-size: 24px;
  width: 50%;
  text-align: left;
  margin-left: 20px;
}
@media screen and (max-width: 320px) {
  .computing__counter-price {
    margin-left: 5px;
  }
}
.computing__button {
  display: flex;
  margin: 0 auto;
  border: none;
  background-color: #314683;
  color: #fff;
  border-radius: 20px;
  font-size: 24px;
  font-family: "Comfortaa-Medium";
  padding: 10px 20px;
}
.computing__button:hover {
  background-color: #FCC02A;
  cursor: pointer;
  transition: 0.8s;
  -webkit-animation: swinging 4s ease;
  animation: swinging 1.2s ease;
}

.footer {
  background-color: #314683;
  margin-top: 10px;
  height: 130px;
}
@media screen and (max-width: 1024px) {
  .footer {
    height: 200px;
  }
}
@media screen and (max-width: 640px) {
  .footer {
    height: 350px;
  }
}
.footer__wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
@media screen and (max-width: 640px) {
  .footer__wrapper {
    display: block;
  }
}
.footer__wrapper-links {
  margin-top: 20px;
}
@media screen and (max-width: 640px) {
  .footer__wrapper-links {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}
.footer__wrapper-link {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-family: "Comfortaa-Medium";
  margin-right: 20px;
}
@media screen and (max-width: 640px) {
  .footer__wrapper-link {
    margin-top: 10px;
    margin-right: 0;
  }
}
.footer__wrapper-social {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
@media screen and (max-width: 640px) {
  .footer__wrapper-social {
    display: flex;
    justify-content: center;
  }
}
.footer__wrapper-media {
  margin-right: 20px;
}
.footer__wrapper-phone {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-family: "Comfortaa-Medium";
  margin-top: 20px;
}
@media screen and (max-width: 640px) {
  .footer__wrapper-phone {
    display: flex;
    justify-content: center;
    margin-right: 0;
  }
}
.footer__button {
  display: flex;
  margin-left: 83%;
  border: none;
  font-size: 18px;
  color: #fff;
  background-color: #FCC02A;
  font-family: "Comfortaa-Medium";
  padding: 10px 20px;
  border-radius: 20px;
}
@media screen and (max-width: 1024px) {
  .footer__button {
    margin-left: 0;
    margin: 20px auto 0;
  }
}
.footer__button:hover {
  cursor: pointer;
  transition: 0.8s;
  background-color: #314683;
}
.footer__button:focus {
  transition: 0.8s;
  -webkit-animation: swinging 4s ease;
  animation: swinging 1.2s ease;
}/*# sourceMappingURL=style.css.map */