body {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  margin: 0 auto;
}

.container {
  max-width: 1300px;
  width: 96%;
  margin: 0 auto;
}

.header {
  position: fixed;
  right: 15%;
  left: 15%;
  top: 0;
  background-color: #fff;
  z-index: 5;
}

@media screen and (max-width: 1024px) {
  .header {
    right: 0;
    left: 0;
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .header {
    background-color: #000;
  }
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Arial;
}

@media screen and (max-width: 768px) {
  .header__wrapper {
    display: none;
  }
}

.header__logo {
  display: block;
}

.header__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.header__link {
  padding-left: 80px;
  padding-right: 70px;
  font-size: 14px;
  color: #2B2B2B;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
  .header__link {
    padding-left: 20px;
    padding-right: 40px;
    margin-bottom: 20px;
    margin-top: 20px;
  }
}

.header__link:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: #00EF18;
}

.header__button {
  background-color: #00EF18;
  color: #000;
  border: none;
  border-radius: 29px;
  padding: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  font-weight: bold;
  margin-top: 15px;
}

.header__button:hover {
  background-color: #000;
  color: #00EF18;
  cursor: pointer;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.header__hull {
  display: none;
  margin: 20px auto;
  width: 100%;
  height: 40px;
  background-color: #000;
  position: relative;
  color: #fff;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .header__hull {
    display: block;
  }
}

.header__hull #check-menu {
  display: none;
}

.header__hull label {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  z-index: 5;
  font-size: 26px;
  line-height: 40px;
}

.header__hull .burger-line {
  position: absolute;
  top: 8px;
  right: 10px;
  width: 35px;
  height: 2px;
  background-color: #fff;
  -webkit-transition: 0.7s all;
  transition: 0.7s all;
}

.header__hull .second {
  top: 18px;
}

.header__hull .third {
  top: 18px;
}

.header__hull .fourth {
  top: 28px;
}

.header__hull .burger-menu {
  display: block;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  max-height: 0;
  font-size: 0;
  overflow: hidden;
  -webkit-transition: 0.7s all;
  transition: 0.7s all;
}

.header__hull a {
  display: block;
  width: 100%;
  padding: 10px;
  color: #fff;
  text-decoration: none;
  border-top: 1px solid #fff;
  background-color: #000;
  font-size: 20px;
}

.header__hull #check-menu:checked ~ .burger-menu {
  max-height: 500px;
  font-size: 16px;
}

.header__hull #check-menu:checked ~ .first {
  display: none;
}

.header__hull #check-menu:checked ~ .second {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header__hull #check-menu:checked ~ .third {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.header__hull #check-menu:checked ~ .fourth {
  display: none;
}

.form {
  display: none;
  margin-top: 50px;
  position: fixed;
  z-index: 5;
  background-color: #000;
  left: 35%;
}

@media screen and (max-width: 1024px) {
  .form {
    margin: 0 auto;
    left: 20%;
  }
}

@media screen and (max-width: 768px) {
  .form {
    left: 15%;
  }
}

@media screen and (max-width: 667px) {
  .form {
    left: 8%;
  }
}

@media screen and (max-width: 414px) {
  .form {
    left: 0;
  }
}

.form__wrapper {
  background-color: #000;
  width: 570px;
  height: 758px;
}

@media screen and (max-width: 414px) {
  .form__wrapper {
    width: 100%;
  }
}

.form__close {
  color: #fff;
  width: 30px;
  height: 30px;
  margin-left: 90%;
  margin-top: 10px;
}

.form__title {
  text-align: center;
  color: #fff;
  font-weight: bold;
  font-size: 36px;
}

.form__subtitle {
  text-align: center;
  color: #fff;
  font-weight: 500;
  font-size: 20px;
  line-height: 126%;
  margin-top: -30px;
}

.form__inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form__input {
  background-color: #323232;
  border: none;
  border-radius: 49px;
  width: 451px;
  padding: 20px;
  margin-top: 34px;
  color: #fff;
  outline: none;
}

@media screen and (max-width: 414px) {
  .form__input {
    width: 300px;
    padding: 5px;
    margin-top: 5px;
  }
}

.form__input:focus {
  border: none;
}

.form__political {
  margin-top: 20px;
}

.form label {
  color: #fff;
  font-size: 13px;
}

.form__button {
  margin-top: 30px;
  border: none;
  background-color: #00EF18;
  font-weight: bold;
  font-size: 18px;
  border-radius: 49px;
  padding: 15px 180px 15px 180px;
}

@media screen and (max-width: 414px) {
  .form__button {
    padding: 5px 20px 5px 20px;
  }
}

.form__button:hover {
  background-color: #000;
  color: #00EF18;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.fon {
  display: none;
  z-index: 4;
  position: fixed;
  width: 100%;
  height: 150%;
  background-color: #000;
  opacity: 0.6;
  margin-top: -200px;
}

.main {
  margin-top: 50px;
}

@media screen and (max-width: 768px) {
  .main {
    background-color: #000;
  }
}

.main__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__info {
  background-image: url(../img/main/builder.png);
  width: 100%;
  height: 800px;
  background-position: left 280px top -150px;
}

@media screen and (max-width: 1024px) {
  .main__info {
    background-position: left -80px top -150px;
  }
}

@media screen and (max-width: 768px) {
  .main__info {
    background-position: left -80px top -80px;
  }
}

@media screen and (max-width: 667px) {
  .main__info {
    background-image: none;
  }
}

@media screen and (max-width: 1024px) {
  .main__text {
    max-width: 500px;
    margin-top: 15%;
  }
}

@media screen and (max-width: 768px) {
  .main__text {
    margin-left: 80px;
  }
}

@media screen and (max-width: 667px) {
  .main__text {
    text-align: center;
    margin: 0 auto;
    margin-top: 150px;
  }
}

@media screen and (max-width: 320px) {
  .main__text {
    margin-top: 180px;
  }
}

.main__title {
  font-size: 55px;
  font-weight: bold;
  line-height: 69px;
  color: #000;
}

@media screen and (max-width: 1024px) {
  .main__title {
    font-size: 34px;
    line-height: 40px;
  }
}

@media screen and (max-width: 768px) {
  .main__title {
    color: #fff;
  }
}

@media screen and (max-width: 667px) {
  .main__title {
    margin-top: -60px;
  }
}

.main__greenText {
  color: #00EF18;
}

@media screen and (max-width: 768px) {
  .main__greenText {
    color: #00EF18;
  }
}

.main__greenText:hover {
  color: #000;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.main__subtitle {
  font-size: 20px;
  font-weight: 500;
  width: 300px;
}

@media screen and (max-width: 768px) {
  .main__subtitle {
    color: #fff;
  }
}

@media screen and (max-width: 667px) {
  .main__subtitle {
    text-align: center;
    margin: 0 auto;
    margin-bottom: 20px;
  }
}

.main__auxiliary {
  font-size: 20px;
  font-weight: 500;
  margin-top: -10px;
}

@media screen and (max-width: 768px) {
  .main__auxiliary {
    color: #fff;
  }
}

.main__button {
  font-weight: bold;
  font-size: 20px;
  border: none;
  border-radius: 29px;
  background-color: #00EF18;
  padding: 20px;
  margin-top: 60px;
}

@media screen and (max-width: 768px) {
  .main__button {
    margin-left: 80px;
  }
}

@media screen and (max-width: 667px) {
  .main__button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
  }
}

.main__button:hover {
  background-color: #000;
  color: #00EF18;
  cursor: pointer;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.advantages {
  margin-top: -180px;
}

@media screen and (max-width: 768px) {
  .advantages {
    margin-top: 0;
    background-color: #000;
  }
}

@media screen and (max-width: 667px) {
  .advantages {
    margin-top: -300px;
  }
}

@media screen and (max-width: 414px) {
  .advantages {
    margin-top: -250px;
  }
}

@media screen and (max-width: 320px) {
  .advantages {
    margin-top: -150px;
  }
}

.advantages__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 414px) {
  .advantages__wrapper {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.advantages__item {
  width: 300px;
}

@media screen and (max-width: 1024px) {
  .advantages__item {
    width: 200px;
  }
}

@media screen and (max-width: 768px) {
  .advantages__item {
    width: 300px;
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .advantages__text {
    color: #fff;
  }
}

.advantages__title {
  font-size: 25px;
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .advantages__title {
    margin-top: -10px;
  }
}

@media screen and (max-width: 375px) {
  .advantages__title {
    font-size: 23px;
  }
}

.advantages__subtitle {
  font-weight: 500;
  font-size: 20px;
}

.advantages__img {
  width: 100px;
  height: 100px;
  color: #00EF18;
}

@media screen and (max-width: 768px) {
  .advantages__img {
    margin: 0 auto;
    margin-top: 50px;
  }
}

@media screen and (max-width: 414px) {
  .advantages__img {
    margin-top: 10px;
  }
}

.advantages__img:hover {
  color: #000000;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

@media screen and (max-width: 768px) {
  .advantages__img:hover {
    color: #00EF18;
  }
}

.company {
  background-color: #000;
  position: relative;
  background-image: url(../img/swiper/2.png);
}

@media screen and (max-width: 667px) {
  .company {
    background-image: none;
  }
}

.company__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.company__text {
  text-align: center;
  max-width: 636px;
}

.company__title {
  color: #00EF18;
  font-size: 35px;
  font-weight: bold;
  line-height: 69px;
}

@media screen and (max-width: 667px) {
  .company__title {
    font-size: 30px;
  }
}

.company__subtitle {
  color: #fff;
  font-size: 22px;
}

.company__subtitle__green {
  color: #00EF18;
}

.company__subtitle__dop {
  color: #fff;
  font-size: 22px;
  margin-bottom: 50px;
}

.swiper-container {
  position: absolute;
  top: -10px;
  width: 90%;
  height: 100%;
}

.swiper-container .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #000;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.swiper-container .swiper-slide .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.swiper-container .swiper-button-next {
  color: #00EF18;
  width: 50px;
}

@media screen and (max-width: 375px) {
  .swiper-container .swiper-button-next {
    width: 40px;
  }
}

.swiper-container .swiper-button-prev {
  color: #00EF18;
  width: 50px;
}

@media screen and (max-width: 375px) {
  .swiper-container .swiper-button-prev {
    width: 40px;
  }
}

.development__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1024px) {
  .development__wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    text-align: center;
  }
}

.development__title {
  width: 610px;
  font-weight: bold;
  font-size: 55px;
  color: #00EF18;
}

@media screen and (max-width: 1024px) {
  .development__title {
    width: 100%;
  }
}

@media screen and (max-width: 667px) {
  .development__title {
    font-size: 40px;
  }
}

@media screen and (max-width: 375px) {
  .development__title {
    font-size: 30px;
  }
}

.development__subtitle {
  font-size: 26px;
  width: 510px;
}

@media screen and (max-width: 1024px) {
  .development__subtitle {
    width: 100%;
  }
}

@media screen and (max-width: 375px) {
  .development__subtitle {
    font-size: 23px;
  }
}

.development__text {
  width: 510px;
  font-size: 18px;
}

@media screen and (max-width: 1024px) {
  .development__text {
    width: 100%;
  }
}

.development__button {
  font-size: 20px;
  border: none;
  border-radius: 48px;
  background-color: #00EF18;
  padding: 15px;
}

.development__button:hover {
  background-color: #000;
  color: #00EF18;
  cursor: pointer;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.development__images {
  position: relative;
}

@media screen and (max-width: 1024px) {
  .development__images {
    display: none;
  }
}

.development__post {
  position: absolute;
  left: 20%;
  font-size: 22px;
  top: 90%;
  background-color: #00EF18;
  padding: 10px;
  border-radius: 20px;
  text-align: center;
}

.development__name {
  font-size: 22px;
  position: absolute;
  left: 22%;
  background-color: #00EF18;
  padding: 10px;
  border-radius: 20px;
  text-align: center;
}

.partners {
  margin-top: 200px;
  background-color: #111111;
}

@media screen and (max-width: 1024px) {
  .partners {
    margin-top: 50px;
  }
}

.partners__wrapper {
  margin: 0 auto;
  text-align: center;
}

.partners__title {
  color: #fff;
  font-weight: bold;
  font-size: 40px;
}

@media screen and (max-width: 667px) {
  .partners__title {
    font-size: 35px;
  }
}

@media screen and (max-width: 375px) {
  .partners__title {
    font-size: 28px;
  }
}

.partners__title__green {
  color: #00EF18;
}

.partners__img {
  margin-top: 50px;
}

@media screen and (max-width: 414px) {
  .partners__img {
    display: none;
  }
}

.partners__414 {
  display: none;
}

@media screen and (max-width: 414px) {
  .partners__414 {
    display: block;
  }
}

.partners__numbers {
  background-color: #00EF18;
  font-size: 25px;
  color: #000;
  border-radius: 20px;
  text-align: center;
}

@media screen and (max-width: 375px) {
  .partners__numbers {
    font-size: 20px;
  }
}

.partners__numbers:hover {
  background-color: #000;
  color: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@media screen and (max-width: 768px) {
  .reviews {
    background-color: #000;
  }
}

@media screen and (max-width: 414px) {
  .reviews {
    margin-top: -25px;
  }
}

@media screen and (max-width: 375px) {
  .reviews {
    margin-top: -20px;
  }
}

.reviews__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 950px;
  background-color: #000;
  color: #fff;
  margin: 0 auto;
  margin-top: 50px;
  background-image: url(../img/reviews/1.png);
  height: 700px;
}

@media screen and (max-width: 768px) {
  .reviews__wrapper {
    width: 100%;
    background-position: 10%;
    margin-top: 0;
  }
}

@media screen and (max-width: 667px) {
  .reviews__wrapper {
    background-image: none;
    text-align: center;
    height: 600px;
  }
}

@media screen and (max-width: 414px) {
  .reviews__wrapper {
    height: 500px;
  }
}

.reviews__text {
  margin-left: 50px;
}

@media screen and (max-width: 667px) {
  .reviews__text {
    margin: 0 auto;
  }
}

.reviews__title {
  width: 500px;
  font-weight: bold;
  font-size: 55px;
  color: #fff;
}

@media screen and (max-width: 667px) {
  .reviews__title {
    width: 100%;
  }
}

@media screen and (max-width: 414px) {
  .reviews__title {
    font-size: 35px;
    color: #00EF18;
  }
}

.reviews__subtitle {
  color: #fff;
  font-size: 18px;
  width: 417px;
}

@media screen and (max-width: 667px) {
  .reviews__subtitle {
    width: 100%;
  }
}

.reviews__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 667px) {
  .reviews__phone {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.reviews__phone__svg {
  color: #fff;
  width: 50px;
  height: 50px;
}

@media screen and (max-width: 320px) {
  .reviews__phone__svg {
    width: 30px;
    height: 30px;
  }
}

.reviews__phone__number {
  font-weight: bold;
  font-size: 36px;
  margin-left: 15px;
  color: #fff;
  text-decoration: none;
}

@media screen and (max-width: 320px) {
  .reviews__phone__number {
    font-size: 28px;
  }
}

.reviews__button {
  font-size: 24px;
  background-color: #00EF18;
  border: none;
  border-radius: 59px;
  padding: 10px;
  margin-top: 50px;
}

.reviews__button:hover {
  background-color: #000;
  color: #00EF18;
  cursor: pointer;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.opened {
  margin-top: 50px;
}

.opened__title {
  margin: 0 auto;
  text-align: center;
  font-size: 55px;
  font-weight: bold;
}

@media screen and (max-width: 320px) {
  .opened__title {
    font-size: 35px;
  }
}

.opened__title__green {
  color: #00EF18;
}

.opened__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 50px;
  width: 950px;
  margin: 0 auto;
  margin-top: 70px;
}

@media screen and (max-width: 768px) {
  .opened__wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
  }
}

.opened__hull {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid rgba(18, 18, 18, 0.35);
  border-radius: 6px;
  padding: 30px 80px 30px 80px;
}

@media screen and (max-width: 414px) {
  .opened__hull {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}

.opened__shell {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.opened__cities {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 40px;
}

@media screen and (max-width: 414px) {
  .opened__cities {
    display: block;
    margin-right: 20px;
  }
}

@media screen and (max-width: 375px) {
  .opened__cities {
    margin-right: 0;
  }
}

.opened__city {
  margin-left: 10px;
  font-weight: bold;
  font-size: 18px;
}

.opened__dop__town {
  text-align: center;
}

.opened__text {
  color: #000;
  width: 417px;
  padding-left: 35px;
}

@media screen and (max-width: 768px) {
  .opened__text {
    text-align: center;
    padding-left: 0;
    width: 100%;
  }
}

.opened__subtitle {
  font-size: 18px;
  line-height: 27px;
}

.opened__button {
  background-color: #00EF18;
  border: none;
  font-size: 20px;
  padding: 20px;
  border-radius: 48px;
}

.opened__button:hover {
  background-color: #000;
  color: #00EF18;
  cursor: pointer;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.contract {
  margin-top: 50px;
}

.contract__title {
  margin: 0 auto;
  text-align: center;
  font-weight: bold;
  font-size: 55px;
  width: 700px;
}

@media screen and (max-width: 667px) {
  .contract__title {
    font-size: 40px;
    width: 100%;
  }
}

@media screen and (max-width: 667px) {
  .contract__title {
    font-size: 32px;
  }
}

.contract__title__green {
  color: #00EF18;
}

.contract__wrapper {
  margin: 0 auto;
}

.contract__privileges {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contract__privileges__revers {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.contract__content {
  margin-left: 100px;
}

@media screen and (max-width: 1024px) {
  .contract__content {
    width: 100%;
    text-align: center;
    margin-left: 0;
  }
}

.contract__number {
  font-size: 64px;
  padding: 0;
  margin: 0;
  color: #C6C6C6;
}

.contract__subtitle {
  font-weight: bold;
  font-size: 36px;
  width: 500px;
  margin: 0;
}

@media screen and (max-width: 1024px) {
  .contract__subtitle {
    width: 100%;
  }
}

@media screen and (max-width: 414px) {
  .contract__subtitle {
    font-size: 30px;
  }
}

@media screen and (max-width: 320px) {
  .contract__subtitle {
    font-size: 24px;
  }
}

.contract__text {
  font-size: 18px;
  width: 300px;
}

@media screen and (max-width: 1024px) {
  .contract__text {
    width: 100%;
  }
}

.contract__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  margin-top: 20px;
  font-size: 20px;
  border: none;
  background-color: #00EF18;
  color: #000;
  border-radius: 48px;
  padding: 15px;
}

.contract__button:hover {
  background-color: #000;
  color: #00EF18;
  cursor: pointer;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.stages {
  background-color: #000;
}

@media screen and (max-width: 1024px) {
  .stages {
    display: none;
  }
}

.stages__title {
  text-align: center;
  font-weight: bold;
  font-size: 55px;
  color: #00EF18;
}

.stages__wrapper {
  position: relative;
}

.stages__steps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.stages__circle {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #C4C4C4;
}

.stages__line {
  width: 55%;
  height: 1px;
  background-color: #C4C4C4;
}

.stages__text {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.stages__subtitle {
  font-size: 24px;
}

.stages__subtitle__two {
  margin-right: -220px;
}

.stages__subtitle__free {
  margin-right: -100px;
}

.stages__subtitle__five {
  margin-right: -30px;
}

.stages__subtitle__six {
  margin-right: -60px;
}

.stages__subtitle__eight {
  margin-right: 20px;
}

.stages__subtitle__nine {
  margin-right: -100px;
}

.stages__subtitle__ten {
  margin-left: 120px;
  color: #00EF18;
}

.stages__finals {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.stages__final {
  width: 200px;
  height: 1px;
  background-color: #C4C4C4;
}

.accordion {
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 100px;
}

.accordion__title {
  font-weight: bold;
  font-size: 55px;
  text-align: center;
}

.accordion .contentBx {
  position: relative;
  margin: 10px 20px;
}

.accordion .contentBx.active .content {
  height: 100px;
}

.accordion .label {
  position: relative;
  padding: 10px;
  background-color: #00EF18;
  font-weight: bold;
  font-size: 30px;
  cursor: pointer;
}

@media screen and (max-width: 414px) {
  .accordion .label {
    font-size: 20px;
  }
}

.accordion .label::before {
  content: '+';
  position: absolute;
  right: 5%;
  font-size: 40px;
}

@media screen and (max-width: 414px) {
  .accordion .label::before {
    font-size: 30px;
    right: 0%;
  }
}

.accordion .contentBx.active .label::before {
  content: '-';
  font-weight: normal;
  font-size: 45px;
  top: 5%;
}

.accordion .content {
  position: relative;
  border: 2px solid #00EF18;
  height: 0px;
  overflow: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  overflow-y: auto;
  font-size: 20px;
}

@media screen and (max-width: 414px) {
  .accordion .content {
    font-size: 18px;
  }
}

.footer {
  background-color: #000;
}

.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__official {
  color: rgba(255, 255, 255, 0.37);
}

.footer__ip {
  color: rgba(255, 255, 255, 0.37);
}

.footer__confid {
  color: #fff;
  font-size: 20px;
}

@media screen and (max-width: 414px) {
  .footer__confid {
    margin-left: 30px;
  }
}

@media screen and (max-width: 375px) {
  .footer__confid {
    margin-left: 20px;
  }
}

@media screen and (max-width: 320px) {
  .footer__confid {
    margin-left: 0px;
  }
}

.footer__number {
  color: #fff;
  text-decoration: none;
  font-size: 36px;
  font-weight: bold;
}

@media screen and (max-width: 414px) {
  .footer__number {
    margin-left: 100px;
  }
}

@media screen and (max-width: 375px) {
  .footer__number {
    margin-left: 70px;
  }
}

@media screen and (max-width: 320px) {
  .footer__number {
    margin-left: 35px;
  }
}

.footer__write {
  color: #00EF18;
  font-size: 18px;
  margin-left: 50px;
}

@media screen and (max-width: 1024px) {
  .footer__write {
    margin-left: 20px;
  }
}

@media screen and (max-width: 414px) {
  .footer__write {
    margin-left: 100px;
  }
}

@media screen and (max-width: 375px) {
  .footer__write {
    margin-left: 70px;
  }
}

@media screen and (max-width: 320px) {
  .footer__write {
    margin-left: 35px;
  }
}

.footer__investing {
  color: #00EF18;
  font-size: 18px;
  margin-left: 20px;
}
/*# sourceMappingURL=style.css.map */